body {
    background-color: whitesmoke;
}

.contact {
    display: block;
    margin: 0;
    float: left;
    padding-left: 2%;
}

.contactItem {
    display: inline-block;
    padding-right: 15px;
    color: slategray;
    font-size: 1.2em;
}

.logo {
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.banner {
    border-bottom: slategray solid 1px;
    border-top: slategray solid 1px;
    clear: both;
}

.nav {
    padding-left: 0;
    padding-top: 44.5px;
    float: right;
    margin: 0;
}

.navItem {
    display: inline-block;
    padding-right: 25px;
    color: slategray;
    font-size: 1.2em;
}

.topItem {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: whitesmoke;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .topItem {
    color: goldenrod;
}

.dropdownContent a:hover {
    background-color: rgba(226, 224, 224, 0.534);
}

.headline {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

a {
    color: slategray;
}

a:hover {
    text-decoration: none;
    color: slategray;
}

.codeImage {
    float:left;
    padding-left: 5%;
    padding-top: 10px;
}

/* .sidebar {
    background-color: slategray;
} */

.midPage {
    padding-top: 3%;
    background-color: rgba(226, 224, 224, 0.534);
}

.pageText {
    font-size: 1.25em;
}

@media (max-width: 800px) {
    .nav {
        display: block;
        float: none;
        padding-top: 0;
    }

    .banner {
        text-align: center;
    }
}