body {
    background-color: whitesmoke;
}

.contactInfo {
    display: block;
    border-bottom: slategray solid 1px;
    margin: 0;
}

.logo {
    margin-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.banner {
    border-bottom: slategray solid 1px;
}

.bannerText {
   padding-top: 2em;
   padding-left: 10px;
   font-size: 1.2em;
   color: slategray;
}

.navLinks {
    float: right;
    padding-top: 2em;
    padding-left: 0;
}

.headerList {
    display: inline-block;
    padding-right: 15px;
    color: slategray;
    font-size: 1.2em;
}

a {
    color: slategray;
}

a:visited {
    color: goldenrod;
}

a:hover {
    text-decoration: none;
    color: slategray;
}

.codeImage {
    float:left;
    padding-left: 5%;
    padding-top: 10px;
}

.mantra {
    clear: left;
}